/* Write your CSS code here */
.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-logo {
  width: 150px;
}
.user-name {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 25px;
}
.user-role {
  color: #616e7c;
  font-family: 'Roboto';
  font-weight: 500;
}
